#############################
# KRaft
#############################

process.roles=broker,controller

node.id={{ kafka_node_id }}

controller.quorum.voters={% for host in groups['kafka'] %}{{ hostvars[host]['kafka_node_id'] }}@{{ hostvars[host]['ansible_host'] }}:{{ kafka_controller_port }}{% if not loop.last %},{% endif %}{% endfor %}

controller.listener.names=CONTROLLER

#############################
# Network
#############################

listeners=INTERNAL://0.0.0.0:{{ kafka_port }},CONTROLLER://0.0.0.0:{{ kafka_controller_port }}

advertised.listeners=INTERNAL://{{ ansible_host }}:{{ kafka_port }}

listener.security.protocol.map=CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT

inter.broker.listener.name=INTERNAL

#############################
# Storage
#############################

log.dirs={{ kafka_data_dir }}

#############################
# Cluster defaults
#############################

num.partitions={{ kafka_num_partitions }}

default.replication.factor={{ kafka_default_replication_factor }}

min.insync.replicas={{ kafka_min_insync_replicas }}

offsets.topic.replication.factor={{ kafka_offsets_replication_factor }}

transaction.state.log.replication.factor={{ kafka_transaction_replication_factor }}

transaction.state.log.min.isr={{ kafka_transaction_min_isr }}

#############################
# Performance
#############################

num.network.threads=8

num.io.threads=16

queued.max.requests=1000

socket.send.buffer.bytes=102400

socket.receive.buffer.bytes=102400

socket.request.max.bytes=104857600

message.max.bytes=10485760

replica.fetch.max.bytes=10485760

#############################
# Retention
#############################

log.retention.hours={{ kafka_log_retention_hours }}

log.segment.bytes={{ kafka_log_segment_bytes }}

log.retention.check.interval.ms=300000

#############################
# Topic management
#############################

auto.create.topics.enable={{ kafka_auto_create_topics | lower }}

delete.topic.enable=true

#############################
# Consumer
#############################

group.initial.rebalance.delay.ms=0
